body {
  font-family: 'PT Sans Caption', sans-serif;
  color: #322e2f;
  font-size: 1;
}

a {
  color: #0777ba;
  font-family: "PT Sans", sans-serif;
}
a:hover {
  text-decoration: none;
}

.burger {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 4px;
  z-index: 10;
}

.burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}

.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #0777ba;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.burger span::before, .burger span::after {
  position: absolute;
  content: "";
}

.burger span::before {
  top: -9px;
}

.burger span::after {
  top: 9px;
}

.burger.clicked span {
  background-color: transparent;
}

.burger.clicked span::before {
  -webkit-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

.burger.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

.burger.clicked span:before, .burger.clicked span:after {
  background-color: #ffffff;
}

.burger:hover {
  cursor: pointer;
}

/*  NAV
========================================== */
nav {
  background: #7e67cefa;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 515px;
  width: 100%;
  padding: 100px 40px 60px 40px;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

nav.show {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

nav.show ul.main li {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

nav.show ul.main li:nth-child(1) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

nav.show ul.main li:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

nav.show ul.main li:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

nav.show ul.main li:nth-child(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

nav.show ul.main li:nth-child(5) {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

nav.show ul.main li:nth-child(6) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

nav.show ul.main li:nth-child(7) {
  -webkit-transition-delay: 1.05s;
          transition-delay: 1.05s;
}

nav.show ul.main li:nth-child(8) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

nav.show ul.main li:nth-child(9) {
  -webkit-transition-delay: 1.35s;
          transition-delay: 1.35s;
}

nav.show .about, nav.show .social, nav.show ul.sub {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  -webkit-transition-delay: .85s;
          transition-delay: .85s;
}

@media (min-width: 667px) {
  nav {
    padding: 120px 90px 70px 90px;
  }
}
nav ul.main {
  list-style-type: none;
}

nav ul.main li {
  margin-bottom: 20px;
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul.main li:last-of-type {
  margin-bottom: 0px;
}

nav ul.main li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  letter-spacing: 5px;
  font-weight: 600;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul.main li a span {
  color: #795e88;
}

nav ul.main li a:hover {
  color: #c0c0c0;
}

nav .about {
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav .about p {
  color: #ffffff;
  font-family: "Spectral", serif;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  line-height: 170%;
}

nav .social {
  margin-top: 40px;
  position: relative;
  padding-bottom: 30px;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav .social:after {
  content: "";
  width: 230px;
  height: 2px;
  background-color: #b7ac7f;
  position: absolute;
  bottom: 0;
  left: 0;
}

nav .social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 25px;
}

nav .social a:last-of-type {
  margin-right: 0px;
}

nav .social a:hover svg path, nav .social a:hover svg circle {
  fill: #b7ac7f;
}

nav .social a svg {
  width: 100%;
  height: 100%;
}

nav .social a svg path, nav .social a svg circle {
  fill: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul.sub {
  list-style-type: none;
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav ul.sub li {
  margin-bottom: 10px;
}

nav ul.sub li:last-of-type {
  margin-bottom: 0px;
}

nav ul.sub li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul.sub li a:hover {
  color: #b7ac7f;
}

/*  OVERLAY
========================================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #403544;
  opacity: 0;
  visibility: hidden;
}

.overlay.show {
  opacity: 0.8;
  visibility: visible;
}

/* menu setup is finished
========================================= */
.mobile-burger {
  display: none;
}

@media (max-width: 540px) {
  .mobile-burger {
    display: block;
  }
}

.all {
  text-align: center;
}
.all input[type="checkbox"] {
  display: none;
}
.all input[type="checkbox"]:checked + label {
  color: white;
}
.all input[type="checkbox"]:checked + label:before {
  content: 'Close All';
}
.all label {
  position: relative;
  margin: 0;
  padding: 5px 30px;
  font-size: 14px;
  font-weight: 300;
  color: #c2d4de69;
  background-color: black;
  border: 1px solid #c2d4de69;
  border-radius: 99px;
}
.all label:before {
  content: 'Open All';
}

.accordion {
  display: none;
  position: relative;
}
.accordion__title {
  font-weight: 700;
  margin-bottom: 30px;
}
.accordion .trigger #checkbox-1,
.accordion .trigger #checkbox-2,
.accordion .trigger #checkbox-3,
.accordion .trigger #checkbox-4 {
  display: none;
}
.accordion .trigger #checkbox-1:checked + label i:before,
.accordion .trigger #checkbox-2:checked + label i:before,
.accordion .trigger #checkbox-3:checked + label i:before,
.accordion .trigger #checkbox-4:checked + label i:before {
  -webkit-transform: translate(5px, 8px) rotate(45deg);
          transform: translate(5px, 8px) rotate(45deg);
}
.accordion .trigger #checkbox-1:checked + label i:after,
.accordion .trigger #checkbox-2:checked + label i:after,
.accordion .trigger #checkbox-3:checked + label i:after,
.accordion .trigger #checkbox-4:checked + label i:after {
  -webkit-transform: translate(-5px, 8px) rotate(-45deg);
          transform: translate(-5px, 8px) rotate(-45deg);
}
.accordion .trigger .checkbox {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px;
  color: #0777ba;
  cursor: pointer;
  border-top: 1px solid #cedae4;
}
.accordion .trigger .checkbox i {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  right: 20px;
}
.accordion .trigger .checkbox i:before, .accordion .trigger .checkbox i:after {
  position: absolute;
  content: '';
  width: 14px;
  height: 1px;
  background-color: #0777ba;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}
.accordion .trigger .checkbox i:before {
  -webkit-transform: translate(-5px, 8px) rotate(45deg);
          transform: translate(-5px, 8px) rotate(45deg);
}
.accordion .trigger .checkbox i:after {
  -webkit-transform: translate(5px, 8px) rotate(-45deg);
          transform: translate(5px, 8px) rotate(-45deg);
}
.accordion .trigger .content {
  position: relative;
  max-height: 1px;
  padding: 0;
  overflow-y: scroll;
  font-size: 14px;
  line-height: 1.5;
  -webkit-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out;
}
.accordion .trigger .content h3 {
  margin: 30px 0 15px 30px;
}
.accordion .trigger .content p {
  margin: 0 30px 30px;
}

#checkbox-1:checked ~ .content,
#checkbox-2:checked ~ .content,
#checkbox-3:checked ~ .content,
#checkbox-4:checked ~ .content {
  max-height: 350px;
  -webkit-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out;
}

@media (max-width: 540px) {
  .accordion {
    display: block;
  }
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: #fff;
  padding-top: 15px;
  padding-bottom: 10px;
}
.header__fixed {
  -webkit-animation-name: show-header;
          animation-name: show-header;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  z-index: 1;
}
.header__login {
  display: block;
  border: 2px solid #004685;
  -webkit-transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header__login:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 540px) {
  .header__login {
    display: none;
  }
  .header__servise {
    display: none;
  }
  .header__logo {
    width: 200px;
    height: 30px;
  }
}

@-webkit-keyframes show-header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes show-header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.search {
  background: url(../img/bg.png) no-repeat center;
  background-size: 100%;
}
.search__title {
  margin-top: 150px;
  color: #fff;
  text-shadow: -1px 1px 3px #c1d2e2;
}
.search__input {
  width: 80%;
  height: 50px;
  margin-bottom: 140px;
}
.search__btn {
  width: 15%;
  height: 50px;
  background: #d30531;
  color: #fff;
  font-size: 20px;
  border: 1px solid #6f304f;
  -webkit-box-shadow: inset 1px -7px 16px -6px #bd0321;
          box-shadow: inset 1px -7px 16px -6px #bd0321;
  -webkit-box-shadow: -8px 8px 23px -14px rgba(0, 0, 0, 0.67);
          box-shadow: -8px 8px 23px -14px rgba(0, 0, 0, 0.67);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}
.search__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.search__icon-mob {
  display: none;
}
@media (max-width: 740px) {
  .search {
    background-size: auto;
  }
}
@media (max-width: 540px) {
  .search__title {
    font-size: 21px;
    text-align: center;
    margin-bottom: 30px;
  }
  .search__btn {
    width: 20%;
    height: 50px;
    position: absolute;
    margin-left: -10px;
    background-color: #fff;
    border: 0.5px solid #bfbfbf;
    border-left: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-shadow: inset 0 0 0 0;
            box-shadow: inset 0 0 0 0;
  }
  .search__btn:hover {
    -webkit-transform: none;
            transform: none;
  }
  .search__icon-mob {
    color: #0f7bbc;
    display: block;
    margin-left: 24px;
    margin-top: -30px;
  }
}

.penalty {
  display: block;
}
.penalty__title {
  text-align: center;
  margin-top: 50px;
  color: #231f20;
}
.penalty__pay-link {
  border-bottom: 1px dashed #0777ba;
  margin-left: 25px;
}
.penalty-block {
  margin-bottom: 70px;
  border-bottom: 1px solid #cedae4;
}
.penalty-block__title {
  padding-bottom: 30px;
  font-size: 24px;
  color: #231f20;
}
.penalty-block_descr {
  font-size: 15px;
}
.penalty-block__accent {
  text-transform: uppercase;
  font-weight: 700;
  color: #d30531;
}
.penalty-block__link {
  display: block;
  width: 180px;
  margin-top: 38px;
  font-size: 24px;
  border-bottom: 1px solid #0777ba;
}
@media (max-width: 540px) {
  .penalty {
    display: none;
  }
}

.partners {
  margin-bottom: 50px;
}
.partners__title {
  margin-bottom: 45px;
}
.partners__name {
  display: block;
  font-size: 12px;
  font-weight: 700;
}
.partners__img-wrapper {
  height: 90px;
  margin-bottom: 10px;
}
@media (max-width: 540px) {
  .partners__title {
    margin-top: 30px;
    font-weight: 700;
  }
}

.footer {
  background-color: #e6ecf1;
  padding-top: 50px;
}
.footer__lock {
  display: block;
}
.footer__txt {
  display: block;
}
.footer__link {
  display: block;
}
@media (max-width: 540px) {
  .footer {
    font-size: 13px;
  }
  .footer__link {
    display: none;
  }
  .footer__number {
    display: none;
  }
  .footer__firma {
    display: none;
  }
  .footer__call {
    display: none !important;
  }
  .footer__txt {
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__lock {
    display: none;
  }
  .footer__name {
    margin-left: 20px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */